<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=e6a8b11f-34a1-413c-910f-a098009e6ac3.sqlserver.sequelizer.com;initial catalog=xmltv_log;User ID=umbsczaoubbrpbpi;Password=7FDLT68kDoLtvM5nFrc5sL4bjQSbYiqTeS4ybBz2CZnYrPoifXjsaPbtKCBdm6uu" />
    <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <threshold value="ERROR" />
    <to value="chinh.nguyen@techpropulsionlabs.com" />
    <from value="xmltv.tpl@gmail.com" />
    <subject value="Xmltv Server - Updating Exception" />
    <smtpHost value="smtp.gmail.com" />
    <port value="587" />
    <enablessl value="true" />
    <username value="xmltv.tpl" />
    <password value="tpl.tvguide" />
    <authentication value="basic" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>

  <!-- Set the default logging level and add the active appenders -->
  <root>
    <level value="INFO" />
    <appender-ref ref="AdoNetAppender" />
    <!--<appender-ref ref="SmtpAppender" />-->
  </root>
</log4net>